.hero-container {
  background-color: #000;
  background-image: url('./gmapsinworkout.png');
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .hero-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    .hero-text {
      text-align: center;
      color: #FFF;
      font-size: 4vw;
      font-weight: 600;
      margin: 0;
    }

  }

  .hero-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

    .hero-btn {
      height: 56px;
      width: 392px;
      background-color: #0069D2;
      color: #FFF;
      border: 1px solid transparent;
      border-radius: 5px;
      text-transform: uppercase;
      cursor: pointer;
    }

  }

  @keyframes flickerAnimation {
    0%   { opacity:0; }
    100% { opacity:1; }
  }
  @-moz-keyframes flickerAnimation{
    0%   { opacity:1; }
    100% { opacity:1; }
  }
  @-webkit-keyframes flickerAnimation{
    0%   { opacity:0; }
    100% { opacity:1; }
  }
  .animate-flicker {
    -webkit-animation: flickerAnimation 4s;
    -moz-animation: flickerAnimation 4s;
    animation: flickerAnimation 4s;
  }

}