.product-nav-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #D5D6D6;

  .product-nav-link-container {
    border-right: 1px solid #D5D6D6;
    height: 46px;
    display: flex;
    align-items: center;
    padding: 16px 41px;

    button.product-nav-link {
      border: none;
      background-color: #FFF;
      color: #585A5C;
      font-size: 14px;
      text-transform: uppercase;
      cursor: pointer;
      padding: 1px;
    }

  }

}



